{% extends 'eval-sidebar.html' %}

{% block title %}Medicamentos{% endblock %}

{% block h2 %}Medicamentos{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}
    
    {% if CurrentMedsLists %}
        
        {% for exam in CurrentMedsLists %}
        <div>
        	<ul id="form-info">
                <li><span>Nombre del Medicamento:</span> {{ exam.med_name }}</li>
                <li><span>Dosis:</span> {{ exam.dose }}</li>
                <li><span>Frecuencia:</span> {{ exam.frequency }}}</li>
                <li><span>Fecha de Inicio:</span> {{ exam.start_date }}</li>
                <li><span>Fecha Final:</span> {{ exam.end_date }}</li>
            </ul>
            <ul id="signature">
                <li><h3>Los Datos del Profesíonal</h3></li>
                <li><span>Nombre:</span> {{ signature.name }} {{ signature.surname }}</li>
                <li><span>EMP:</span> {{ signature.emp }}</li>
                <li><span>Direccion:</span> {{ signature.direction }}</li>
                <li><span>Celular:</span> {{ signature.cell }}</li>
            </ul>
            <a href="{% url 'tracker:edit_current_meds_list' child_id exam.id %}">Edita Detalles</a>
        </div>
        {% endfor %}
    
    {% endif %}
    
{% endblock %}
