/**********************
MEDIA QUERIES
**********************/

@media screen and (min-width: 510px) {

  /* Updates HEADER */

  #header {
    min-height: 99px;
  }

  h1, h2 {
    text-align: right;
    margin-top: 25px;
  }  

  h1 {
    font-size: 2.2em;
  }

  #logo {
    display: inline-block;
    width: 250px;
    float: left;
  }

}

@media screen and (min-width: 550px) {

  /* Updates TWO-COLUMN STYLES */

  .two-column #content {
    display: inline-block;
    float: left;
    padding-left: 10px;
    width: 78%;
  }

  /* Updates MENU */

  .two-column #sidebar {
    display: block;
    min-width: 150px;
    width: 20%;
    max-width: 250px;
    padding: 0;
    float: left;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    height: 100%;
  }

  .two-column #sidebar li {
    display: block;
    text-align: left;
    border-top: 1px solid #000;
    /*padding: 0;*/
    padding: 0;
  }

  .two-column #sidebar a {
    display: block;
    width: 98%;
    height: 100%;
    padding: 5px 0 5px 5px ;
  }

  .two-column #sidebar #evals {
    padding: 10px 0 10px 5px ;
  }

  .two-column #sidebar li:first-child {
    border-top: 0;
  }

  .two-column #content input[type="text"],
  .two-column #content textarea,
  .two-column #content input[type="number"],
  .two-column #content input[type="password"],
  .two-column #content input[type="email"] {
    width: 60%;
  }

  .two-column #content input[type="submit"] {
    float: left;
    margin: 10px 20px;
  }

  /* Updates CHILD INFORMATION STYLES*/

  .child-info, #child-view-lists {
    width: 79%;
  }

  .child-info {
    min-height: 200px;
    padding-bottom: 10px;
  }

}

@media screen and (min-width: 775px) {

  /* Updates CHILDREN LIST STYLES */

  .children-list {
    width: 100%;
  }

  /* Updates THREE COLUMN STYLES
     Children List Page */

  .three-column #content {
    margin-left: 21%;
  }

  .three-column #sidebar, .three-column #details {
    display: block;
    min-width: 115px;
    width: 10%;
    max-width: 250px;
    padding: 0;
    float: left;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    min-height: 400px;
    height: 100%;
  }

  .three-column #sidebar li {
    display: block;
    text-align: left;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }

  .three-column #details li {
    display: block;
    text-align: left;
    padding: 10px ;
  }

  /* Update CHILD INFORMATION STYLES */

  .profile-picture {
    float: right;
  }

  .exam-list {
    width: 150px;
    float: left;
  }

  .exam-list h3 {
    text-align: center;
  }

  .exam {
    padding-left: 155px;
  }

  .summary .recommendation {
    width: 80%;
  }             

}