{% extends 'two-column.html' %}

{% block title %}Nuevo Informe Odontológico{% endblock %}

{% block h2 %}Nuevo Informe Odontológico{% endblock %}

{% block sidebar %}
    {% include 'tracker/sidebar.html' %}
{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}
    {% include 'tracker/dental_exam_list.html' %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:new_dental_exam' child_id %}" enctype="multipart/form-data" method="post" class="exam">
        {% csrf_token %}
        <ul>
            {{ dental_exam_form }}
        
            <li><h3>Los Datos del Profesíonal</h3></li>

            {{ signature_form }}
        </ul>
        <input type="submit" name="submit" value="Enviar">
        <input type="submit" name="save" value="Guardar Cambios">
        
    </form>

    <span id="dialog">
        <form action ="" method="post" class="no-display">{% csrf_token %}
            <p>¿Seguro que quieres descartar esta información?</p>
            <input type="submit" name="discard" value="Sí">
            <input type="submit" value="No" id="no">
        </form>
     </span>
{% endblock %}
