{% extends 'child-screen.html' %}

{% block title %}Evaulacíon e Informe Social{% endblock %}

{% block content %}

    <h1>Evaulacíon e Informe Social</h1>
    <h2>{{ child.first_name }} {{ child.last_name }}</h2>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:new_social_exam' child_id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <ul>
            {{ social_exam_form }}
        </ul>
        <br />
        <h3>Los Datos del Profesíonal</h3>
        <ul>
            {{ signature_form }}
        </ul>
        <input type="submit" value="Enviar" />
    </form>
{% endblock %}
