{% extends 'two-column.html' %}

{% block title %}Añadir Nuevo Usuario{% endblock %}

{% block h2 %}Añadir Nuevo Usuario{% endblock %}

{% block sidebar %}
    <ul>
        <a href="{% url 'tracker:logout' %}"><li>Cerrar sesión</li></a>
        <a href="{% url 'tracker:residences' %}" ><li>Residencias</li></a>
        <a href="{% url 'tracker:profiles' %}"><li class="selected">Usuarios</li></a>
    </ul>
{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:add_profile' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <ul>
            {{ profile_form }}
            {{ permissions_form }}
        </ul>
        <input type="submit" name="submit" value="Enviar">
    </form>

    <span id="dialog">
        <form action ="" method="post" class="no-display">{% csrf_token %}
            <p>¿Seguro que quieres descartar esta información?</p>
            <input type="submit" name="discard" value="Sí">
            <input type="submit" value="No" id="no">
        </form>
     </span>
{% endblock %}
