{% extends 'two-column.html' %}

{% block title %}Añadir Nueva Residencia{% endblock %}

{% block h2 %}Añadir Nueva Residencia{% endblock %}

{% block sidebar %}
	<ul>
		<a href="{% url 'tracker:logout' %}"><li>Cerrar sesión</li></a>
		<a href="{% url 'tracker:residences' %}"><li class="selected">Residencias</li></a>
	</ul>
{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:add_residence' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <ul>
        	{{ form }}
        </ul>
        <input type="submit" name="submit" value="Enviar">
        <input type="submit" name="save" value="Guardar Cambios">
        <input type="submit" name="discard" value="Descartar Cambios">
    </form>
{% endblock %}
