{% extends 'child-screen.html' %}

{% block title %}Evaluación e Informe Social{% endblock %}

{% block content %}

    <h2><span>{{ child.first_name }} {{ child.last_name }}:</span> Evaluación e Informe Social</h2>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:new_social_exam' child_id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <ul>
            {{ social_exam_form }}
        </ul>
        <br />
        <h3>Los Datos del Profesíonal</h3>
        <ul>
            {{ signature_form }}
        </ul>
        <input type="submit" name="submit" value="Enviar" />
        <input type="submit" name="save" value="Save and Come Back Later" />
        <input type="submit" name="discard" value="Discard" />
    </form>
{% endblock %}
