{% extends 'child-screen.html' %}

{% block title %}Evaluación e Informe Médico / Parte 1{% endblock %}

{% block content %}

    <h2><span>{{ child.first_name }} {{ child.last_name }}:</span> Evaluación e Informe Médico / Parte 1</h2>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:new_medical_exam_part1' child_id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <ul>
            {{ medical_exam_part1_form }}
        </ul>
        <br />
        <h3>Los Datos del Profesíonal</h3>
        <ul>
            {{ signature_form }}
        </ul>
        <input type="submit" value="Enviar" />
    </form>
{% endblock %}
