{% extends 'child-screen.html' %}

{% block title %}Información Odontológico{% endblock %}

{% block content %}

    <h1>Información Odontológico</h1>
    <h2>{{ child.first_name }} {{ child.last_name }}</h2>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:new_dental_exam' child_id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ dental_exam_form }}
        <br />
        <h3>Los Datos del Profesíonal</h3>
        {{ signature_form }}
        <input type="submit" value="Enviar" />
    </form>
{% endblock %}
