{% extends 'base.html' %}

{% block title %}Poner un Niño{% endblock %}

{% block menu %}<span class="button"><a href="{% url 'tracker:children' %}">Volver a la lista de los niños...</a></span>{% endblock %}

{% block content %}

    <h2>Poner un Niño</h2>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:add_child' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <ul>
        	{{ form }}
  	    </ul>
        <input type="submit" value="Enviar" />
    </form>
{% endblock %}
