{% extends 'three-column.html' %}

{% block title %}Los Niños{% endblock %}

{% block menu %}<span class="button"><a href="{% url 'tracker:add_child' %}">Poner un otro niño...</a></span>{% endblock %}

{% block sidebar %}
	<ul>
		<a href=""><li>Cerrar sesión</li></a>
		<a href="{% url 'tracker:residences' %}"><li>Welcome</li></a>
		<a href=""><li class="selected">Detalle Orfanato</li></a>
		<a href="{% url 'tracker:add_child' %}"><li>Añadir Nuevo Niño</li></a>
	</ul>

{% endblock %}

{% block details %}
	<ul>
		<li>Dummy Content</li>
		<li>Because</li>
		<li>We Don't Have</li>
		<li>That Yet</li>
	</ul>

{% endblock %}

{% block content %}
	<div id="children-list">
	    <h2>Elija un niño</h2>
	    <ul>
	    {% for child in children %}
		    <li><a href="{% url 'tracker:child' child.id %}"><img class="red" src="{{ child.photo.url }}" /><p>{{ child.first_name }} {{ child.last_name }}</p></a></li>
	    {% endfor %}
	    </ul>
    </div>
{% endblock %}
