{% extends 'child-screen.html' %}

{% block title %}Información General{% endblock %}

{% block content %}
    <div id="child-info">
        <h2><span>{{ child.first_name }} {{ child.last_name }}:</span> Información General</h2>
        <img src="{{ child.photo.url }}">
        <dl>
            <dt>Fecha de Naciemiento</dt><dd>{{ child.birthdate }}</dd>
            <dt>Años</dt><dd>{{ child.age }}</dd>
            <dt>Casa Girasoles</dt><dd>{{ child.residence.residence_name }}</dd>
            <dt>Fecha de Ingreso</dt><dd>{{ child.intake_date }}</dd>
            <dt>Lugar de Naciemiento</dt><dd>{{ child.birthplace }}</dd>
        </dl>
    </div>
{% endblock %}
