{% extends 'base.html' %}

{% block title %}Los Niños{% endblock %}

{% block menu %}<span class="button"><a href="{% url 'tracker:add_child' %}">Poner un otro niño...</a></span>{% endblock %}

{% block content %}
    <h2>Elija un niño</h2>
    <ul class="grid-list">
    {% for child in children %}
	    <li><a href="{% url 'tracker:child' child.id %}"><img class="red" src="{{ child.photo.url }}" /><p>{{ child.first_name }} {{ child.last_name }}</p></a></li>
    {% endfor %}
    </ul>
{% endblock %}
