{% extends 'two-column.html' %}

{% block title %}Información General{% endblock %}

{% block h2 %}Información General{% endblock %}

{% block sidebar %}
    {% include 'tracker/sidebar.html' %}
{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% include 'tracker/basic-info.html' %}
    <a href="{% url 'tracker:edit_child' child_id %}">Edita Detalles</a>
    
    {% if dental_exam %}
    <h3>Resumen Ondontológico</h3>
    <div class="summary">
        <span class="priority">
            <span class="circle {% if dental_exam.priority == 1 %} high {% endif %}"></span>
            <span class="circle {% if dental_exam.priority == 2 %} medium {% endif %}"></span>
            <span class="circle {% if dental_exam.priority == 3 %} low {% endif %}"></span>
        </span>
        <span class="recommendation">
            <div><span>Diagnóstico:</span> {{dental_exam.diagnosis}}</div>
            <div><span>Recomendación:</span> {{ dental_exam.recommendation }}</div>
        </span>
    </div>
    {% endif %}
    {% if medical_exam_part2 %}
    <h3>Resumen Médico</h3>
    <div class="summary">
        <span class="priority">
            <span class="circle {% if medical_exam_part2.priority == 1 %} high {% endif %}"></span>
            <span class="circle {% if medical_exam_part2.priority == 2 %} medium {% endif %}"></span>
            <span class="circle {% if medical_exam_part2.priority == 3 %} low {% endif %}"></span>
        </span>
        <span class="recommendation">
            <div><span>Diagnóstico:</span> {{medical_exam_part2.diagnosis}}</div>
            <div><span>Recomendación:</span> {{ medical_exam_part2.recommendation }}</div>
        </span>
    </div>
    {% endif %}
    {% if psychological_exam %}
    <h3>Resumen Psicológica</h3>
    <div class="summary">
        <span class="priority">
            <span class="circle {% if psychological_exam.priority == 1 %} high {% endif %}"></span>
            <span class="circle {% if psychological_exam.priority == 2 %} medium {% endif %}"></span>
            <span class="circle {% if psychological_exam.priority == 3 %} low {% endif %}"></span>
        </span>
        <span class="recommendation">
            <div><span>Diagnóstico:</span> {{ psychological_exam.diagnosis }}</div>
            <div><span>Recomendación:</span> {{ psychological_exam.recommendation }}</div>
        </span>
    </div>
    {% endif %}
    {% if social_exam %}
    <h3>Resumen Social</h3>
    <div class="summary">
        <span class="priority">
            <span class="circle {% if social_exam.priority == 1 %} high {% endif %}"></span>
            <span class="circle {% if social_exam.priority == 2 %} medium {% endif %}"></span>
            <span class="circle {% if social_exam.priority == 3 %} low {% endif %}"></span>
        </span>
        <span class="recommendation">
            <div><span>Diagnóstico:</span> {{ social_exam.diagnosis }}</div>
            <div><span>Recomendación:</span> {{ social_exam.recommendation }}</div>
        </span> 
    </div>
    {% endif %}
{% endblock %}

