{% extends 'two-column.html' %}

{% block title %}Historia de Consulta{% endblock %}

{% block h2 %}Historia de Consulta, {{exam.date}}{% endblock %}

{% block sidebar %}
    {% include 'tracker/sidebar.html' %}
{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}
    <div>
    	<ul id="form-info">
            <li><span>Institutión:</span> {{ exam.institution }}</li>
            <li><span>Comentarios:</span> {{ exam.notes }}</li>
        </ul>
        <ul id="signature">
            <li><h3>Los Datos del Profesíonal</h3></li>
            <li><span>Nombre:</span> {{ signature.name }} {{ signature.surname }}</li>
            <li><span>EMP:</span> {{ signature.emp }}</li>
            <li><span>Direccion:</span> {{ signature.direction }}</li>
            <li><span>Celular:</span> {{ signature.cell }}</li>
        </ul>
        <a href="{% url 'tracker:edit_consultation_history' child_id exam.id %}">Edita Detalles</a>

    </div>
    
{% endblock %}
