{% extends 'two-column.html' %}

{% block title %}Información Consultation{% endblock %}

{% block sidebar %}
    <ul>
        <li>Ohai! I'm a menu item.</li>
    </ul>
{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:add_consultation_history' child_id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Poner" />
    </form>

    <table>
    <tr>
      <th colspan="3">
         <h3><br>Operation History</h3>
      </th>
    </tr>
    <tr>
      <th>Date</th>
      <th>Institution</th>
      <th>Notes</th>
    </tr>
    {% for consultation in consultation_history %}
       <tr>
          <td>{{consultation.date}}</td>
          <td>{{consultation.institution}}</td>
          <td>{{consultation.notes}}</td>
       </tr>
    {% endfor %}
    </table>

{% endblock %}

