{% extends 'two-column.html' %}

{% block title %}Información Odontológico{% endblock %}

{% block sidebar %}
    <ul>
        <a href=""><li>Cerrar sesión</li></a>
        <a href="{% url 'tracker:residences' %}"><li>Bienvenidos</li></a>
        <a href="{% url 'tracker:residence' residence_id %}"><li>Detalle Orfanato</li></a>
        <a href="{% url 'tracker:child' child_id %}"><li>Resumen Niño</li></a>
        <li>Evaluaciones</li>
        <span id="secondary">
            <li class="selected"><a href="{% url 'tracker:dental_exams' child_id %}">Evaluacíon e Informe Odontológico</a></li>
            <li><a href="{% url 'tracker:medical_exam_part1s' child_id %}">Evaluacíon e Informe Médico / Parte 1</a></li>
            <li><a href="{% url 'tracker:medical_exam_part2s' child_id %}">Evaluacíon e Informe Médico / Parte 2</a></li>
            <li><a href="{% url 'tracker:psychological_exams' child_id %}">Evaluacíon e Informe Psicológico</a></li>
            <li><a href="{% url 'tracker:social_exams' child_id %}">Evaluacíon e Informe Social</a></li>
        </span>
    </ul>
{% endblock %}

{% block content %}

    <div class="form-info">
    	<h2><span>{{ child.first_name }} {{ child.last_name }}:</span> Información Odontológico, {{ exam.date }}</h2>
        <input type="submit" name="edit" value="Edit">
    	<dl>
            <dt>Recomendaciones:</dt><dd>{{ exam.recommendation }}</dd>
        </dl>

<!--         <dl>
        	<dt>Nombres</dt><dd>{{ exam.signature.name }} {{ exam.signature.surname }}</dd>
        	<dt>EMP</dt><dd>{{ exam.signature.emp }}</dd>
        	<dt>Dirección</dt><dd>{{ exam.signature.direction }}</dd>
        	<dt>Celular</dt><dd>{{ exam.signature.cell }}</dd>


        </dl> -->
    </div>
    
{% endblock %}
