{% extends 'two-column.html' %}

{% block title %}Historia de Enfermedades{% endblock %}

{% block h2 %}Historia de Enfermedades, {{exam.date}}{% endblock %}

{% block sidebar %}
    {% include 'tracker/sidebar.html' %}
{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}
    <div>
    	<ul id="form-info">
            <li><span>Institución:</span> {{ exam.institution }}</li>
            <li><span>Diagnóstico:</span> {{ exam.diagnosis }}</li>
            <li><span>Estudios:</span> {{ exam.studies }}</li>
            <li><span>Tratamiento:</span> {{ exam.treatment }}</li>
        </ul>
        <ul id="signature">
            <li><h3>Los Datos del Profesíonal</h3></li>
            <li><span>Nombre:</span> {{ exam.signature_name }} {{ exam.signature_surname }}</li>
            <li><span>EMP:</span> {{ exam.signature_emp }}</li>
            <li><span>Direccion:</span> {{ exam.signature_direction }}</li>
            <li><span>Celular:</span> {{ exam.signature_cell }}</li>
        </ul>

        {% if perms.tracker.add_edit_forms or perms.tracker.delete_info %}
        <ul>
            {% if perms.tracker.add_edit_forms %}
            <li><a href="{% url 'tracker:edit_disease_history' child_id exam.id %}">Edita Detalles</a></li>
            {% endif %}
            {% if perms.tracker.delete_info %}
            <li><a href="#" class="delete delete_exam">Borrar</a></li>
            {% endif %}
        </ul>
        {% endif %}

        <span id="dialog">
            <form action ="" method="post" class="no-display">{% csrf_token %}
                <p>¿Estás seguro que quieres borrar este examen?</p>
                <input type="submit" name="discard" value="Sí">
                <input type="submit" value="No" id="no">
            </form>
        </span>

    </div>
    
{% endblock %}
