{% extends 'eval-sidebar.html' %}

{% block title %}Historia de Enfermedades{% endblock %}

{% block h2 %}Historia de Enfermedades, {{exam.date}}{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}
    <div>
    	<ul id="form-info">
            <li><span>Institución:</span> {{ exam.institution }}</li>
            <li><span>Diagnóstico:</span> {{ exam.diagnosis }}</li>
            <li><span>Estudios:</span> {{ exam.studies }}</li>
            <li><span>Tratamiento:</span> {{ exam.treatment }}</li>
        </ul>
        <ul id="signature">
            <li><h3>Los Datos del Profesíonal</h3></li>
            <li><span>Nombre:</span> {{ signature.name }} {{ signature.surname }}</li>
            <li><span>EMP:</span> {{ signature.emp }}</li>
            <li><span>Direccion:</span> {{ signature.direction }}</li>
            <li><span>Celular:</span> {{ signature.cell }}</li>
        </ul>
        <a href="{% url 'tracker:edit_blood_exam' child_id exam.id %}">Edita Detalles</a>

    </div>
    
{% endblock %}
