{% extends 'two-column.html' %}

{% block title %}Documento{% endblock %}

{% block h2 %}Documento, {{exam.name}}{% endblock %}

{% block sidebar %}
    {% include 'tracker/sidebar.html' %}
{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}
    <div>
    	<ul id="form-info">
            <img src="{{ exam.document.url }}">
        </ul>
        <ul id="signature">
            <li><h3>Los Datos del Profesíonal</h3></li>
            <li><span>Nombre:</span> {{ signature.name }} {{ signature.surname }}</li>
            <li><span>EMP:</span> {{ signature.emp }}</li>
            <li><span>Direccion:</span> {{ signature.direction }}</li>
            <li><span>Celular:</span> {{ signature.cell }}</li>
        </ul>
        <a href="{% url 'tracker:edit_blood_exam' child_id exam.id %}">Edita Detalles</a>

    </div>
    
{% endblock %}
