{% extends 'eval-sidebar.html' %}

{% block title %}Editar Histora de Operaciones{% endblock %}

{% block h2 %}Editar Histora de Operaciones{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}
    {% include 'tracker/operation_history_list.html' %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:edit_operation_history' child_id exam_id %}" enctype="multipart/form-data" method="post" class="exam">
        {% csrf_token %}
        <ul>
            {{ operation_history_form }}
        
            <li><h3>Los Datos del Profesíonal</h3></li>

            {{ signature_form }}
        </ul>
        <input type="submit" name="submit" value="Enviar">
        <input type="submit" name="save" value="Guardar Cambios">
        <input type="submit" name="discard" value="Descartar Cambios">
        
    </form>
{% endblock %}
