{% extends 'two-column.html' %}

{% block title %}Editar Fotografía{% endblock %}

{% block h2 %}Editar Fotografía{% endblock %}

{% block sidebar %}
    {% include 'tracker/sidebar.html' %}
{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:edit_photo' child_id exam_id %}" enctype="multipart/form-data" method="post" class="exam">
        {% csrf_token %}
        <ul>
            {{ photograph_form }}
        
        </ul>
        <input type="submit" name="submit" value="Enviar">
    </form>

    <span id="dialog">
        <form action ="" method="post" class="no-display">{% csrf_token %}
            <p>¿Seguro que quieres descartar esta información?</p>
            <input type="submit" name="discard" value="Sí">
            <input type="submit" value="No" id="no">
        </form>
     </span>

    {% if Photographs %}
    <div>
        <ul>
        {% for photograph in Photographs %}
            <a href="{% url 'tracker:photo' child_id photograph.id %}"><li class="photograph"><img src="{{ photograph.photo.url }}"></li></a>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
