{% extends 'two-column.html' %}

{% block title %}Editar Histora de Operaciones{% endblock %}

{% block h2 %}Editar Histora de Operaciones{% endblock %}

{% block sidebar %}
    <ul>
        <a href="{% url 'tracker:logout' %}" class="delete"><li>Cerrar sesión</li></a>
        <a href="{% url 'tracker:residences' %}" class="delete"><li>Residencias</li></a>
        <a href="{% url 'tracker:residence' residence_id %}" class="delete"><li>Detalle Orfanato</li></a>
        <a href="{% url 'tracker:child' child_id %}" class="delete"><li>Resumen Niño</li></a>
        <li class="selected">Evaluaciones</li>
        <span id="secondary">
            <li><a href="{% url 'tracker:new_blood_exam' child_id %}" class="delete">Informe Sangre</a></li>
            <li><a href="{% url 'tracker:new_consultation_history' child_id %}" class="delete">Historia de Consulta</a></li>
            <li><a href="{% url 'tracker:new_dental_exam' child_id %}" class="delete">Informe Odontológico</a></li>
            <li><a href="{% url 'tracker:new_disease_history' child_id %}" class="delete">Historia de Enfermedades</a></li>
            <li><a href="{% url 'tracker:new_medical_exam_part1' child_id %}" class="delete">Informe Médico / Parte 1</a></li>
            <li><a href="{% url 'tracker:new_medical_exam_part2' child_id %}" class="delete">Informe Médico / Parte 2</a></li>
            <li class="selected"><a href="{% url 'tracker:new_operation_history' child_id %}" class="delete">Historia de Operaciones</a></li>
            <li><a href="{% url 'tracker:new_psychological_exam' child_id %}" class="delete">Informe Psicológico</a></li>
            <li><a href="{% url 'tracker:new_social_exam' child_id %}" class="delete">Informe Social</a></li>
            
        </span>
    </ul>
{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}
    {% include 'tracker/operation_history_list.html' %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:edit_operation_history' child_id exam_id %}" enctype="multipart/form-data" method="post" class="exam">
        {% csrf_token %}
        <ul>
            {{ operation_history_form }}
        
            <li><h3>Los Datos del Profesíonal</h3></li>

            {{ signature_form }}
        </ul>
        <input type="submit" name="submit" value="Enviar">
        <input type="submit" name="save" value="Guardar Cambios">    
    </form>

    <span id="dialog">
        <form action ="" method="post" class="no-display">{% csrf_token %}
            <p>¿Seguro que quieres descartar esta información?</p>
            <input type="submit" name="discard" value="Sí">
            <input type="submit" value="No" id="no">
        </form>
     </span>
{% endblock %}
