{% extends 'two-column.html' %}

{% block title %}Editar Histora de Consulta{% endblock %}

{% block h2 %}Editar Histora de Consulta{% endblock %}

{% block sidebar %}
    {% include 'tracker/sidebar.html' %}
{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}
    {% include 'tracker/consultation_history_list.html' %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% if perms.tracker.add_edit_forms %}

    <form action="{% url 'tracker:edit_consultation_history' child_id exam_id %}" enctype="multipart/form-data" method="post" class="exam">
        {% csrf_token %}
        <ul>
            {{ consultation_history_form }}
        
            <li><h3>Los Datos del Profesíonal</h3></li>

            {{ signature_form }}
        </ul>
        <input type="submit" name="submit" value="Enviar">
        <input type="submit" name="save" value="Guardar Cambios">   
    </form>

    <span id="dialog">
        <form action ="" method="post" class="no-display">{% csrf_token %}
            <p>¿Seguro que quieres descartar esta información?</p>
            <input type="submit" name="discard" value="Sí">
            <input type="submit" value="No" id="no">
        </form>
    </span>

    {% else %}

    <p><strong>Usted no tiene permiso para agregar o formularios de edición.</strong></p>

    {% endif %}
    
{% endblock %}
