{% extends 'two-column.html' %}

{% block title %}Gráfico de Crecimiento{% endblock %}

{% block h2 %}Gráfico de Crecimiento{% endblock %}

{% block sidebar %}
    {% include 'tracker/sidebar.html' %}
{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}

    <img src="{% url 'tracker:growth_png' child_id %}" id="graph">

    <p>los patrones de crecimiento esperados basados ​​en estándar de la OMS . Para obtener más información, visite <a href="http://www.who.int/childgrowth/es/">el sitio web de la OMS</a>.</p>
    

{% endblock %}
