{% extends 'two-column.html' %}

{% block title %}Exportar la base de datos{% endblock %}

{% block h2 %}Exportar la base de datos{% endblock %}

{% block sidebar %}
	<ul>
		<li><a href="{% url 'tracker:logout' %}" class="delete">Cerrar sesión</a></li>
		<li><a href="{% url 'tracker:residences' %}" class="delete">Residencias</a></li>
	</ul>

{% endblock %}

{% block content %}
	{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
   {% endif %}

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="{% url 'tracker:import_export' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
            <input type="submit" name="submit_export" value="Exportar la Base de Datos">
    </form>

    <form action="{% url 'tracker:import_export' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <ul>
            {{ form }}
        </ul>
            <input type="submit" name="submit_import" value="Importar la Base de Datos">
    </form>

{% endblock %}