{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post" action="{% url 'tracker:login' %}" id="login">
{% csrf_token %}
	<ul>
		<li><label for="username">Nombre de Usuario:</label><input type="text" name="username" /></li>
		<li><label for="password">Contraseña:</label><input type="password" name="password" /></li>
		<li><input type="submit" value="Iniciar Sesión" />
		<input type="hidden" name="next" value="{{ next }}" /></li>
	</ul>
</form>

{% endblock %}
