{% extends 'two-column.html' %}

{% block title %}Residencias{% endblock %}

{% block h2 %}Bienvenidos, {{ user.username }}{% endblock %}

{% block sidebar %}
	<ul>
		<li><a href="{% url 'tracker:logout' %}">Cerrar sesión</a></li>
		<li class="selected"><a href="{% url 'tracker:residences' %}">Residencias</a></li>
	</ul>
{% endblock %}

{% block content %}

	<div id="residences">
		<ul>
		{% if residences %}
			{% for residence in residences %}
				{% if perms.tracker.not_restricted_to_home %}
			<li>
				<a href="{% url 'tracker:residence' residence.id %}"><div class="thumbnail gray">{% load staticfiles %}<img src="{% static "tracker/house-icon.svg" %}"></div>
					{% if residence.residence_name == '' %}
						Unknown Name
					{% else %}
						{{ residence.residence_name }}
					{% endif %}
				</a>
			</li>
				{% else %}
					{% if user.home == residence %}
			<li>
				<a href="{% url 'tracker:residence' residence.id %}"><div class="thumbnail gray">{% load staticfiles %}<img src="{% static "tracker/house-icon.svg" %}"></div>
					{% if residence.residence_name == '' %}
						Unknown Name
					{% else %}
						{{ residence.residence_name }}
					{% endif %}
				</a>
			</li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if perms.tracker.add_edit_forms and perms.tracker.not_restricted_to_home %}
		<li><a href="{% url 'tracker:add_residence' %}"><div class="thumbnail gray">{% load staticfiles %}<img src="{% static "tracker/add-new.svg" %}"></div>Añadir Nueva Casa</a></li>
		{% endif %}
		</ul>
	</div>

{% endblock %}
