{% extends 'two-column.html' %}

{% block title %}Evaluacíon e Informe Médico / Parte 2{% endblock %}

{% block h2 %}Informe Médico / Parte 2, {{exam.date}}{% endblock %}

{% block sidebar %}
    {% include 'tracker/sidebar.html' %}
{% endblock %}

{% block content %}

	{% include 'tracker/basic-info.html' %}

    <div>
	    <ul id="form-info">
			<li><span>Apetito:</span>{{ exam.appetite_notes }}</li>
			<li><span>Sueño:</span> {{ exam.sleep_notes }}</li>
			<li><span>Apariencia Comentarios:</span> {{ exam.appearance_notes }}</li>
			<li><span>Piel Comentarios:</span> {{ exam.skin_notes }}</li>
			<li>Ganglios Comenarios:</span> {{ exam.lymph_notes }}</li>
			<li><span>Comentarios Cuello: </span> {{ exam.neck_notes }}</li>
			<li><span> Comentarios Pulmones:</span> {{ exam.lung_notes }}</li>
			<li><span>Comentarios Cardiovasculares:</span> {{ exam.cardio_notes }}</li>
			<li><span>Comentarios Abdomen:</span>{{ exam.abdomen_notes }}</li>
			<li><span>Comentarios Genitourinarias:</span>{{ exam.genitourinary_notes }}</li>
			<li><span>Extremidades Commentarios:</span> {{ exam.extremities_notes }}</li>
			<li>Neurológicos Comentarios:</span> {{ exam.neurological_notes }}</li>
			<li><span>Tratamientos Comentarios:</span> {{ exam.treatment_notes }}</li>
			<li><span>Diagnóstico:</span> {{exam.diagnosis}}</li>
			<li>Otres Recomendaciones:</span> {{ exam.recommendation }}</li>
		</ul>
        <ul id="signature">
            <li><h3>Los Datos del Profesíonal</h3></li>
            <li><span>Nombre:</span> {{ exam.signature_name }} {{ exam.signature_surname }}</li>
            <li><span>EMP:</span> {{ exam.signature_emp }}</li>
            <li><span>Direccion:</span> {{ exam.signature_direction }}</li>
            <li><span>Celular:</span> {{ exam.signature_cell }}</li>
        </ul>

        {% if perms.tracker.add_edit_forms or perms.tracker.delete_info %}
        <ul>
            {% if perms.tracker.add_edit_forms %}
            <li><a href="{% url 'tracker:edit_medical_exam_part2' child_id exam.id %}">Edita Detalles</a></li>
            {% endif %}
            {% if perms.tracker.delete_info %}
            <li><a href="#" class="delete delete_exam">Borrar</a></li>
            {% endif %}
        </ul>
        {% endif %}

        <span id="dialog">
            <form action ="" method="post" class="no-display">{% csrf_token %}
                <p>¿Estás seguro que quieres borrar este examen?</p>
                <input type="submit" name="discard" value="Sí">
                <input type="submit" value="No" id="no">
            </form>
        </span>

	</div>
{% endblock %}