{% extends 'two-column.html' %}

{% block title %}Informe Médico / Parte 1{% endblock %}

{% block h2 %}Informe Médico / Parte 1, {{exam.date}}{% endblock %}

{% block sidebar %}
    {% include 'tracker/sidebar.html' %}
{% endblock %}

{% block content %}

    {% include 'tracker/basic-info.html' %}

    <div>
    	<ul id="form-info">

            <li><span>Peso:</span> {{ exam.weight }}</li>
            <li><span>Estatura:</span> {{ exam.height }}</li>
            <li><span>IMC:</span> {{ exam.bmi }}</li>
            <li><span>Hemoglobina Anormal:</span> exam.hemoglobin_abnormal</li>
            <li><span>Hemoglobina Comentarios:</span> exam.hemoglobin_notes</li> 

            <li><span>Agudeza Visual Izquierdo:</span> {{ exam.visual_acuity_left }}</li>
            <li><span>Agudeza Visual Derecha:</span> {{ exam.visual_acuity_right }}</li>

            <li><span>BCG:</span> {% if exam.bcg_vaccine_date %}, {{ exam.bcg_vaccine_date }}{% else %}No administrado{% endif %}</li>
    		
            <li><span>Antipoliomielitica:</span> {% if exam.polio_vaccine_date %}, {{exam.polio_vaccine_date}} {% else %}No administrado{% endif %}</li>
    		
            <li><span>DPT:</span> {% if exam.dpt_vaccine %}, {{ dpt_vaccine_date }}{% else %}No administrado{% endif %}</li>
    		
            <li><span>Hepatitis B:</span> {% if exam.hepatitis_b_vaccine_date %}, {{ exam.hepatitis_b_vaccine_date }}{% else %}No administrado{% endif %}</li>
    		
            <li><span>Hemofilus Influenza:</span> {% if exam.flu_vaccine_date %}, {{ exam.flu_vaccine_date }}{% else %}No administrado{% endif %}</li>
    		
            <li><span>Fiebre Amarilla:</span> {% if exam.yellow_fever_vaccine_date %}, {{ exam.yellow_fever_vaccine_date }}{% else %}No administrado{% endif %}</li>
    		
            <li><span>SPR:</span> {% if exam.spr_vaccine_date %}, {{ exam.spr_vaccine_date }}{% else %}No administrado{% endif %}</li>
    		
            <li><span>HPV:</span> {% if exam.hpv_vaccine_date %}, {{ exam.hpv_vaccine_date }}{% else %}No administrado{% endif %}</li>
    		
            <li><span>Neumococo:</span> {% if exam.pneumococcal_vaccine_date %}, {{ exam.pneumococcal_vaccine_date }}{% else %}No administrado{% endif %}</li>
            
            <li><span>Diagnóstico:</span> {{exam.diagnosis}}</li>
            <li>Otres Recomendaciones:</span> {{ exam.recommendations }}</li>
    		
        </ul>
        <ul id="signature">
            <li><h3>Los Datos del Profesíonal</h3></li>
            <li><span>Nombre:</span> {{ exam.signature_name }} {{ exam.signature_surname }}</li>
            <li><span>EMP:</span> {{ exam.signature_emp }}</li>
            <li><span>Direccion:</span> {{ exam.signature_direction }}</li>
            <li><span>Celular:</span> {{ exam.signature_cell }}</li>
        </ul>

        {% if perms.tracker.add_edit_forms or perms.tracker.delete_info %}
        <ul>
            {% if perms.tracker.add_edit_forms %}
            <li><a href="{% url 'tracker:edit_medical_exam_part1' child_id exam.id %}">Edita Detalles</a></li>
            {% endif %}
            {% if perms.tracker.delete_info %}
            <li><a href="#" class="delete delete_exam">Borrar</a></li>
            {% endif %}
        </ul>
        {% endif %}

        <span id="dialog">
            <form action ="" method="post" class="no-display">{% csrf_token %}
                <p>¿Estás seguro que quieres borrar este examen?</p>
                <input type="submit" name="discard" value="Sí">
                <input type="submit" value="No" id="no">
            </form>
        </span>


    </div>
{% endblock %}
