{% extends 'eval-sidebar.html' %}

{% block title %}Evaluacíon e Informe Médico / Parte 2{% endblock %}

{% block h2 %}Informe Médico / Parte 2, {{exam.date}}{% endblock %}

{% block content %}

	{% include 'tracker/basic-info.html' %}
	{% include 'tracker/medical_exam_part2_list.html' %}

    <div>
	    <ul id="form-info">
			<li><span>Enfermedad Actual:</span> {{ exam.illness_notes }}</li>
			<li><span>Apetito:</span>{{ exam.appetite_notes }}</li>
			<li><span>Sueño:</span> {{ exam.sleep_notes }}</li>
			<li><span>Presión Arterial: </span>{{ exam.blood_pressure }}</li>
			<li><span>Pulso:</span> {{ exam.pulse }}</li>
			<li><span>Agudeza Visual Izquierdo:</span> {{ exam.visual_acuity_left }}</li>
			<li><span>Agudeza Visual Derecha:</span> {{ exam.visual_acuity_right }}</li>
			<li><span>Apariencia Comentarios:</span> {{ exam.appearance_notes }}</li>
			<li><span>Piel Comentarios:</span> {{ exam.skin_notes }}</li>
			<li>Ganglios Comenarios:</span> {{ exam.lymph_notes }}</li>
			<li><span>Comentarios Cuello: </span> {{ exam.neck_notes }}</li>
			<li><span> Comentarios Pulmones:</span> {{ exam.lung_notes }}</li>
			<li><span>Comentarios Cardiovasculares:</span> {{ exam.cardio_notes }}</li>
			<li><span>Comentarios Abdomen:</span>{{ exam.abdomen_notes }}</li>
			<li><span>Comentarios Genitourinarias:</span>{{ exam.genitourinary_notes }}</li>
			<li><span>Extremidades Commentarios:</span> {{ exam.extremities_notes }}</li>
			<li>Neurológicos Comentarios:</span> {{ exam.neurological_notes }}</li>
			<li><span>Tratamientos Comentarios:</span> {{ exam.treatment_notes }}</li>
			<li><span>Diagnóstico:</span> {{exam.diagnosis}}</li>
			<li>Otres Recomendaciones:</span> {{ exam.recommendations }}</li>
		</ul>
		<ul id="signature">
            <li><h3>Los Datos del Profesíonal</h3></li>
            <li><span>Nombre:</span> {{ signature.name }} {{ signature.surname }}</li>
            <li><span>EMP:</span> {{ signature.emp }}</li>
            <li><span>Direccion:</span> {{ signature.direction }}</li>
            <li><span>Celular:</span> {{ signature.cell }}</li>
        </ul>
	    <a href="{% url 'tracker:edit_medical_exam_part2' child_id exam.id %}">Edita Detalles</a>
	</div>
{% endblock %}