{% extends 'two-column.html' %}

{% block title %}Informe Psicológico{% endblock %}

{% block h2 %}Informe Psicológico, {{exam.date}}{% endblock %}

{% block sidebar %}
 <ul>
        <a href=""><li>Cerrar sesión</li></a>
        <a href="{% url 'tracker:residences' %}"><li>Residencias</li></a>
        <a href="{% url 'tracker:residence' child.residence_id %}"><li>Detalle Orfanato</li></a>
        <a href="{% url 'tracker:child' child_id %}"><li>Resumen Niño</li></a>
        <li class="selected">Evaluaciones</li>
        <span id="secondary">
            <li><a href="{% url 'tracker:dental_exams' child_id %}">EInforme Odontológico</a></li>
            <li><a href="{% url 'tracker:medical_exam_part1s' child_id %}">Informe Médico / Parte 1</a></li>
            <li><a href="{% url 'tracker:medical_exam_part2s' child_id %}">Informe Médico / Parte 2</a></li>
            <li class="selected"><a href="{% url 'tracker:psychological_exams' child_id %}">Informe Psicológico</a></li>
            <li><a href="{% url 'tracker:social_exams' child_id %}">Informe Social</a></li>
        </span>
    </ul>
{% endblock %}

{% block content %}
    {% include 'tracker/basic-info.html' %}

    <div class="form-info">
    	<dl>
    	   	<dt>Antecedents Patológicos Personales y Familiares Importantes: </dt><dd>{{ exam.background_notes }}</dd>
    		<dt>Descripción Fisica y Comportamiento: </dt><dd>{{ exam.physical_description }}</dd>
    		<dt>Área Intelectual: </dt><dd>{{ exam.intelectual_notes }}</dd>
    		<dt>Área Organicidad: </dt><dd>{{ exam.organicity_notes }}</dd>
    		<dt>Área Psciomotor: </dt><dd>{{ exam.psychomotor_notes }}</dd>
    		<dt>Área Afectiva Emocional: </dt><dd>{{ exam.emotional_notes }}</dd>
    		<dt>Recomendaciones: </dt><dd>{{ exam.recommendation }}</dd>
    	</dl>
        <h3>Los Datos del Profesíonal</h3>
        <dl>
            <dt>Nombre:</dt><dd>{{ signature.name }} {{ signature.surname }}</dd>
            <dt>EMP:</dt><dd>{{ signature.emp }}</dd>
            <dt>Direccion:</dt><dd>{{ signature.direction }}</dd>
            <dt>Celular:</dt><dd>{{ signature.cell }}</dd>
        </dl>
        <a href="{% url 'tracker:edit_psychological_exam' child_id exam.id %}">Edita Detalles</a>
    </div>
{% endblock %}