{% extends 'child-screen.html' %}

{% block title %}Evaluaciónes Psicológica{% endblock %}

{% block menu %}
<span class="button"><a href="{% url 'tracker:add_child' %}">Poner un otro niño...</a></span>
<span class="button"><a href="{% url 'tracker:new_psychological_exam' child_id %}">Nuevo Evaluación Psicológica...</a></span>
{% endblock %}


{% block content %}

<h2><span>{{ child.first_name }} {{ child.last_name }}:</span> Evaluaciónes Psicológica</h2>

<div class="exam-list">
{% include 'tracker/psychological_exam_list.html' %}
</div>

{% endblock %}