{% extends 'child-screen.html' %}

{% block title %}Evaluación e Informe Psicológico{% endblock %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'tracker:add_psychological_exam_info' child.id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Poner" />
    </form>

    <table>
    <tr>
      <th colspan="5">
         <h3><br>Evaluación Psicológico</h3>
      </th>
    </tr>
    <tr>
      <th>Fecha</th>
      <th>Edad</th>
      <th>Antecedentes Patologicos Personales y familiares importantes</th>
      <th>Descripcion fisica y comportamiento</th>
      <th>Área Intelectual</th>
      <th>Área organicidad</th>
      <th>Área psicomotora</th>
      <th>Recomendaciones</th>
    </tr>
    {% for exam in psychological_exams %}
       <tr>
          <td>{{exam.date}}</td>
          <td>{{child.age}}</td>
          <td>{{exam.diagnostico}}</td>
          <td>{{exam.diagnostico}}</td>
          <td>{{exam.diagnostico}}</td>
          <td>{{exam.diagnostico}}</td>
          <td>{{exam.diagnostico}}</td>
          <td>{{exam.recommendation}}</td>
       </tr>
    {% endfor %}
    </table>

{% endblock %}

