{% extends 'eval-sidebar.html' %}

{% block title %}Informe Psicológico{% endblock %}

{% block h2 %}Informe Psicológico, {{exam.date}}{% endblock %}

{% block content %}
    {% include 'tracker/basic-info.html' %}

    <div>
    	<ul id="form-info">
    	   	<li><span>Antecedents Patológicos Personales y Familiares Importantes:</span> {{ exam.family_notes }}</li>
    		<li><span>Descripción Fisica y Comportamiento:</span> {{ exam.physical_description }}</li>
    		<li><span>Área Intelectual:</span> {{ exam.intelectual_notes }}</li>
    		<li><span>Área Organicidad:</span> {{ exam.organicity_notes }}</li>
    		<li><span>Área Psciomotor:</span> {{ exam.psychomotor_notes }}</li>
    		<li><span>Área Afectiva Emocional:</span> {{ exam.emotional_notes }}</li>
            <li><span>Diagnóstico:</span> {{ exam.diagnosis }}</li>
    		<li><span>Recomendaciones:</span> {{ exam.recommendation }}</li>
    	</ul>
        <ul id="signature">
            <li><h3>Los Datos del Profesíonal</h3></li>
            <li><span>Nombre:</span> {{ signature.name }} {{ signature.surname }}</li>
            <li><span>EMP:</span> {{ signature.emp }}</li>
            <li><span>Direccion:</span> {{ signature.direction }}</li>
            <li><span>Celular:</span> {{ signature.cell }}</li>
        </ul>
        <a href="{% url 'tracker:edit_psychological_exam' child_id exam.id %}">Edita Detalles</a>
    </div>
{% endblock %}