{% extends 'three-column.html' %}

{% block title %}Detalle Orfanato{% endblock %}

{% block h2 %}Detalle Orfanato{% endblock %}

{% block sidebar %}
	<ul>
		<a href="{% url 'tracker:logout' %}"><li>Cerrar sesión</li></a>
		<a href="{% url 'tracker:residences' %}"><li>Residencias</li></a>
		<a href="{% url 'tracker:residence' residence_id %}"><li class="selected">Detalle Orfanato</li></a>
	</ul>

{% endblock %}

{% block details %}
	<ul>
		<li>Residencia: {{ residence.residence_name }}</li>
		<li>Administrador: {{ residence.administrator }}</li>
		<li>Niños: {{ boys.count }}</li>
		<li>Niñas: {{ girls.count }}</li>
		<li>En riesgo: {{ at_risk.count }} </li>
		{% if perms.tracker.add_edit_forms %}
		<a href="{% url 'tracker:edit_residence' residence_id %}"><li>Edita Detalles</li></a>
		{% endif %}
	</ul>

{% endblock %}

{% block content %}
	<div class= "children-list" id="active">
		<h3>Activo Niños</h3>
	    <ul>
	    {% if active %}
		    {% for child in active %}
		    	<a href="{% url 'tracker:child' child.id %}">
		    		<li>
		    			<div class="thumbnail {% if child.priority == 1 %} red {% elif child.priority == 2 %} yellow {% else %} green {% endif %}" >
				    		{% if child.photo %}
				    		<img src="{{ child.photo.url }}">
				    		{% else %}
					    	{% load staticfiles %}<img src="{% static "tracker/person-icon.svg" %}">
					    	{% endif %}
			    		</div>

			    		{% if child.first_name == '' %}
			    			Unknown Name
			    		{% else %}
			    			{{ child.first_name }} {{ child.last_name }}
			    		{% endif %}
		    		</li>
		    	</a>
		    {% endfor %}
	    {% endif %}
	    {% if perms.tracker.add_edit_forms %}
	    	<a href="{% url 'tracker:add_child' residence_id %}"><li class="add-new"><div>+</div><span>Añadir Nuevo Niño</span></li></a>
	    {% endif %}
	    </ul>
	</div>
	<div class="children-list" id="inactive">
	    <h3>Inactivo Niños</h3>
	    <ul>
	    {% if inactive %}
		    {% for child in inactive %}
		    	<a href="{% url 'tracker:child' child.id %}">
		    		<li>
		    			<div class="thumbnail gray">
		    				<img src="{{ child.photo.url }}">
		    			</div>
			    		{% if child.first_name == '' %}
			    			Unknown Name
			    		{% else %}
			    			{{ child.first_name }} {{ child.last_name }}
			    		{% endif %}
		    		</li>
		    	</a>
		    {% endfor %}
		  {% endif %}
		</ul>
    </div>
{% endblock %}
