{% extends 'three-column.html' %}

{% block title %}Detalle Orfanato{% endblock %}

{% block h2 %}Detalle Orfanato{% endblock %}

{% block sidebar %}
	<ul>
		<li><a href="{% url 'tracker:logout' %}">Cerrar sesión</a></li>
		<li><a href="{% url 'tracker:residences' %}">Residencias</a></li>
		<li class="selected"><a href="{% url 'tracker:residence' residence_id %}">Niños de Inicio</a></li>
	</ul>

{% endblock %}

{% block details %}
	<ul>
		<li>Residencia: {{ residence.residence_name }}</li>
		<li>Administrador: {{ residence.administrator }}</li>
		<li>Niños: {{ boys }}</li>
		<li>Niñas: {{ girls }}</li>
		<li>En riesgo: {{ at_risk }} </li>
		{% if perms.tracker.add_edit_forms %}
		<li><a href="{% url 'tracker:edit_residence' residence_id %}">Edita Detalles</a></li>
		{% endif %}
		{% if perms.tracker.delete_info %}
		<li><a href="#" class="delete delete_exam">Borrar</a></li>
		{% endif %}
	</ul>

{% endblock %}

{% block content %}
	<div class= "children-list" id="active">
		<h3>Activo Niños</h3>
	    <ul>
	    {% if active %}
		    {% for child in active|dictsort:"first_name" %}
		    	<li>
		    		<a href="{% url 'tracker:child' child.id %}">
		    			<div class="thumbnail {% if child.priority == 1 %} red {% elif child.priority == 2 %} yellow {% else %} green {% endif %}">
				    		{% if child.photo %}
				    		<img src="{{ child.photo.url }}">
				    		{% else %}
					    	{% load staticfiles %}<img src="{% static "tracker/person-icon.svg" %}">
					    	{% endif %}
			    		</div>

			    		{% if child.first_name == '' %}
			    			Unknown Name
			    		{% else %}
			    			{{ child.first_name }} {{ child.last_name }}
			    		{% endif %}
			    	</a>
		    	</li>	
		    {% endfor %}
	    {% endif %}
	    {% if perms.tracker.add_edit_forms %}
	    	<li><a href="{% url 'tracker:add_child' residence_id %}"><div class="thumbnail gray"><img src="{% static "tracker/add-new.svg" %}"></div>Añadir Nuevo Niño</a></li>
	    {% endif %}
	    </ul>
	</div>
	<div class="children-list" id="inactive">
	    <h3>Inactivo Niños</h3>
	    <ul>
	    {% if inactive %}
		    {% for child in inactive|dictsort:"first_name" %}
		    	<a href="{% url 'tracker:child' child.id %}">
		    		<li>
		    			<div class="thumbnail gray">
		    				{% if child.photo %}
				    		<img src="{{ child.photo.url }}">
				    		{% else %}
					    	{% load staticfiles %}<img src="{% static "tracker/person-icon.svg" %}">
					    	{% endif %}
		    			</div>
			    		{% if child.first_name == '' %}
			    			Unknown Name
			    		{% else %}
			    			{{ child.first_name }} {{ child.last_name }}
			    		{% endif %}
		    		</li>
		    	</a>
		    {% endfor %}
		  {% endif %}
		</ul>
    </div>

    <span id="dialog">
        <form action ="" method="post" class="no-display">{% csrf_token %}
            <p>¿Estás seguro que quieres borrar este examen?</p>
            <input type="submit" name="discard" value="Sí">
            <input type="submit" value="No" id="no">
        </form>
    </span>
{% endblock %}
