    <ul>
        <li><a href="{% url 'tracker:logout' %}" class="delete">Cerrar sesión</a></li>
        <li><a href="{% url 'tracker:residences' %}" class="delete">Residencias</a></li>
        <li><a href="{% url 'tracker:residence' residence_id %}" class="delete">Detalle Orfanato</a></li>
        <li {% if page == 'child' %} class="selected" {% endif %}><a href="{% url 'tracker:child' child_id %}" class="delete">Resumen Niño</a></li>
        <li id="evals" {% if exam %}class="selected" {% endif %}>Evaluaciones</li>
        <span id="secondary">
            <li {% if page == 'social_exam' %} class="selected" {% endif %}><a href="{% url 'tracker:new_social_exam' child_id %}" class="delete">Informe Social</a></li>
            <li {% if page == 'psychological_exam' %} class="selected" {% endif %}><a href="{% url 'tracker:new_psychological_exam' child_id %}" class="delete">Informe Psicológico</a></li>
            <li {% if page == 'medical_exam_part1' %} class="selected" {% endif %}><a href="{% url 'tracker:new_medical_exam_part1' child_id %}" class="delete">Informe Médico / Parte 1</a></li>
            <li {% if page == 'medical_exam_part2' %} class="selected" {% endif %}><a href="{% url 'tracker:new_medical_exam_part2' child_id %}" class="delete">Informe Médico / Parte 2</a></li>
            <li {% if page == 'dental_exam' %} class="selected" {% endif %}><a href="{% url 'tracker:new_dental_exam' child_id %}" class="delete">Informe Odontológico</a></li>          
            <li {% if page == 'disease_history' %} class="selected" {% endif %}><a href="{% url 'tracker:new_disease_history' child_id %}" class="delete">Historia de Enfermedades</a></li>
            <li {% if page == 'operation_history' %} class="selected" {% endif %}><a href="{% url 'tracker:new_operation_history' child_id %}" class="delete">Historia de Operaciones</a></li>
            <li {% if page == 'dicharge_plan' %} class="selected" {% endif %}><a href="{% url 'tracker:new_discharge_plan' child_id %}" class="delete">Plan de Alta</a></li>
        </span>
        <li {% if page == 'photo' %} class="selected" {% endif %}><a href="{% url 'tracker:new_photo' child_id %}" class="delete">Fotografias</a></li>
        <li {% if page == 'growth_graph' %} class="selected" {% endif %}><a href="{% url 'tracker:growth_graph' child_id %}" class="delete">Crecimiento Gráfico</a></li>
        <li {% if page == 'documents' %} class="selected" {% endif %}><a href="{% url 'tracker:new_document' child_id %}" class="delete">Documentos</a></li>
    </ul>
