{% extends 'two-column.html' %}

{% block title %}Informe Social{% endblock %}

{% block h2 %}Informe Social, {{exam.date}}{% endblock %}

{% block sidebar %}
    <ul>
        <a href="{% url 'tracker:logout' %}"><li>Cerrar sesión</li></a>        <a href="{% url 'tracker:residences' %}"><li>Residencias</li></a>
        <a href="{% url 'tracker:residence' residence_id %}"><li>Detalle Orfanato</li></a>
        <a href="{% url 'tracker:child' child_id %}"><li>Resumen Niño</li></a>
        <li class="selected">Evaluaciones</li>
        <span id="secondary">
            <li><a href="{% url 'tracker:new_blood_exam' child_id %}">Informe Sangre</a></li>
            <li><a href="{% url 'tracker:new_consultation_history' child_id %}">Historia de Consulta</a></li>
            <li><a href="{% url 'tracker:new_dental_exam' child_id %}">Informe Odontológico</a></li>
            <li><a href="{% url 'tracker:new_disease_history' child_id %}">Historia de Enfermedades</a></li>
            <li><a href="{% url 'tracker:new_medical_exam_part1' child_id %}">Informe Médico / Parte 1</a></li>
            <li><a href="{% url 'tracker:new_medical_exam_part2' child_id %}">Informe Médico / Parte 2</a></li>
            <li><a href="{% url 'tracker:new_operation_history' child_id %}">Historia de Operaciones</a></li>
            <li><a href="{% url 'tracker:new_psychological_exam' child_id %}">Informe Psicológico</a></li>
            <li class="selected"><a href="{% url 'tracker:new_social_exam' child_id %}">Informe Social</a></li>
            <li><a href="{% url 'tracker:new_photo' child_id %}">Fotografias</a></li>
        </span>
    </ul>
{% endblock %}

{% block content %}
    {% include 'tracker/basic-info.html' %}

    <div>
    	<ul id="form-info">
    	    <li><span>Partida de Nacimiento:</span> {{ exam.has_birth_certificate }}</li>
    		<li><span>Original:</span> {{ exam.original_birth_certificate }}</li>
    		<li><span>DNI: </span>{{ exam.dni }}</li>

    		{% if not exam.dni %}<li><span>En El Proceso</span> {{ exam.dni_in_process }}{% if not exam.dni_in_process %}, {{ exam.dni_no_comments }}{% endif %}</li>{% endif %}
    		
            <li><span>SIS:</span> {{ exam.sis }}</li>

    		{% if not exam.sis %}<li><span>En El Proceso:</span> {{ exam.sis_in_process }}{% if not sis_in_process %}, {{ exam.sis_no_comments }}{% endif %}</li>{% endif %}
    		
            <li><span>Antecedents:</span> {{ exam.antecedents }}</li>
    		<li><span>Situación Familiar:</span> {{ exam.family_situation }}</li>
    		<li><span>Situación de Salud:</span> {{ exam.health_situation }}</li>
    		<li><span>Situación de la Vivienda:</span> {{ exam.housing_situation }}</li>
    		<li><span>Situación Económica:</span> {{ exam.economic_situation }}</li>
    		<li><span>Apreciaciones Generales del Niño:</span> {{ exam.general_comments }}</li>
    		
            <li><span>Recibe Visitas:</span> {{ exam.visitors_allowed }}{% if not exam.visitors_allowed %}, {{ exam.visitors_allowed_no_comment }}{% endif %}</li>

    		<li><span>Diagnostico Social:</span> {{ exam.diagnosis }}</li>
    		<li><span>Recomendaciones:</span> {{ exam.recommendation }}</li>
    	</ul>
        <ul id="signature">
            <li><h3>Los Datos del Profesíonal</h3></li>
            <li><span>Nombre:</span> {{ signature.name }} {{ signature.surname }}</li>
            <li><span>EMP:</span> {{ signature.emp }}</li>
            <li><span>Direccion:</span> {{ signature.direction }}</li>
            <li><span>Celular:</span> {{ signature.cell }}</li>
        </ul>
        <a href="{% url 'tracker:edit_social_exam' child_id exam.id %}">Edita Detalles</a>
    </div>
{% endblock %}