{% extends 'two-column.html' %}

{% block title %}Usuarios{% endblock %}

{% block h2 %}Usuarios{% endblock %}

{% block sidebar %}
	<ul>
		<a href="{% url 'tracker:logout' %}"><li>Cerrar sesión</li></a>
		<a href="{% url 'tracker:residences' %}" ><li>Residencias</li></a>
		<a href="{% url 'tracker:users' %}"><li class="selected">Usuarios</li></a>
	</ul>
{% endblock %}

{% block content %}

	<div id="residences">
		<ul>
		{% if residences %}
			{% for user in user_list %}
				<a href="#"><li>{% load staticfiles %}<img src="{% static "tracker/person-icon.svg" %}">
					{% if user.first_name == '' and user.last_name == '' %}
						Unknown Name
					{% else %}
						{% if user.first_name %}{{ user.first_name }}{%endif%} {% if user.last_name %}{{ user.last_name }}{%endif%}
					{% endif %}

				</li></a>
			{% endfor %}
		{% endif %}
		<a href="{% url 'tracker:add_user' %}"><li class="add-new"><div>+</div><span>Añadir Nuevo Usuario</span></li></a>
		</ul>
	</div>

{% endblock %}
