/**************************
***************************
MEYER CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
***************************
**************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************
***************************
HBI TRACKER STYLES
***************************
**************************/

/*****************
GENERAL STYLES
******************/

html {
  font-family: "Trebuchet MS", 
               Helvetica, 
               sans-serif;
  background: #fff;
}

h1 {
  font-size: 1.7em;
  text-align: center;
  margin-top: 25px;
}

h2 {
  font-size: 1.4em;
}

ol li {
  list-style: decimal-leading-zero inside;
}

img {
  width: 100%;
}

a {
  color: #000;
}

/*********************
HEADER STYLES
**********************/

#header {
  background: #fff;
  padding: 1em;
  color: #000;
}

#border {
  content: "";
  width: 100%;
  height: 25px;
  background: #cf2a27;
  border: 1px #000 solid;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;

}

/************************
LOGIN STYLES
*************************/

#login {
  display: block;
  margin-top: 50px;
}
#login li {
  text-align: center;
  margin: 15px;
  font-size: 1.3em;
}

#login label {
  display: inline-block;
  width: 186px;
}

#login input {
  padding: 4px 4px 4px 4px ;
  margin-left: 3px;
  border: 1px solid #000;
  font-size: 1em;
}

#login input[type="submit"], .add-new-exam {
  background: #fff;
  text-align: center;
  font-size: 1em;
  padding: 0;
  padding: 5px;
  box-shadow: 5px 5px 10px #000;
}

.add-new-exam {
  display: inline-block;
  margin: 5px 0 15px;
}

#login input[type="submit"]:active {
  box-shadow: 0 0 0;
}

/************************
CHILDREN LIST STYLES 
*************************/

.children-list {
  height: 100%;
  display: inline-block;
}

.children-list h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 1.7em;
  display: block;
}

.children-list ul li img.green {
  border: 4px #009e0f solid;
}

.children-list ul li img.yellow {
  border: 4px #ffff00 solid;
}

.children-list ul li img.red {
  border: 4px #cf2a27 solid;
}

.children-list ul li img.gray {
  border: 4px #666 solid;
}

.children-list li, #residences ul li {
  float: left;
}

.children-list li, #residences ul li {
  width: 100px;
  margin: 10px 2.5%;
  text-align: center;
  font-size: 1.5em;
}

.add-new span {
  font-size: .8em;
}

.add-new div, #residences img {
  width: 100px;
  height: 100px;
  border: 4px #666 solid;
  font-size: 4em;
  color: #666;
}

#active {
  padding-bottom: 10px;
}

/*********************************
TWO-COLUMN and THREE-COLUMN STYLES
*********************************/

.two-column, .three-column {
  display: block;
  height: 100%;
}

.two-column h2 {
  margin-bottom: 10px;
  padding-right: 10px;
}

.two-column #content li {
  padding: 5px;
}

.two-column #content label {
  display: inline-block;
  width: 166px;
}

.three-column #details {
  text-align: center;
  padding-bottom: 10px;
}

/* FORM STYLES */

.two-column #content input[type="text"],
.two-column #content textarea {
  font-size: 1em;
  padding: 4px;
  border: 2px #666 solid;
}

.two-column #content textarea {
  height: 100px;
}

.two-column #content #id_photo {
  font-size: .8em;
}

.two-column #content input[type="submit"] {
  display: block;
  width: 160px;
  background: #fff;
  text-align: center;
  font-size: 1em;
  padding: 0;
  padding: 10px;
  box-shadow: 5px 5px 10px #000;
  margin: 5px auto;
}

.two-column #content input[type="radio"] {
  display: inline;
  float: left;
}


/* MENU STYLES */

.selected {
  background: #95bcf2 ;
}

#sidebar {
  display: block;
  width: 100%;
}

#sidebar a {
  text-decoration: none;
}
#sidebar ul {
  text-align: center;
}

#sidebar li {
  display: inline-block;
  padding: 10px 5px;
  font-size: 1.1em;
}

#sidebar #secondary li {
  border: none;
  margin-left: 25px;
}

/************************
CHILD PAGE STYLES
*************************/

.child-info img {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.child-info span {
  display: inline-block;
  width: 166px;
}

.child-info li {
  padding: 5px 0;
}

#child-view-lists {
  padding-left: 10px;
}

/**********************
CHILD INFORMATION STYLES:
SUMMARY AND RISK ASSESSMENT;
**********************/

.summary {
  width: 90%;
  margin: 10px 5%;
}

.summary .priority {
  width: 50px;
  height: 132px;
  float: left;
  border: 1px #666 solid;
  padding: 4px;
}

.summary .priority .circle {
  display: inline-block;
  border-radius: 50%;
  border: 1px #666 solid;
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.high {
  background-color: #cf2a27;
}

.medium {
  background-color: #ffff00;
}

.low {
  background-color: #009e0f;
}

.summary .recommendation {
  display: inline-block;
  border: 1px #666 solid;
  width: 80%;
  height: 132px;
  padding: 4px;
  overflow: auto;
  margin-left: 1%;
}


/**********************
MEDIA QUERIES
**********************/

@media screen and (min-width: 510px) {

  /* Updates HEADER */

  #header {
    min-height: 99px;
  }

  h1, h2 {
    text-align: right;
    margin-top: 25px;
  }  

  h1 {
    font-size: 2.2em;
  }

  #logo {
    display: inline-block;
    width: 250px;
    float: left;
  }

}

@media screen and (min-width: 550px) {

  /* Updates TWO-COLUMN STYLES */

  .two-column #content {
    display: inline-block;
    float: left;
    padding-left: 10px;
    width: 78%;
  }

  /* Updates MENU */

  .two-column #sidebar {
    display: block;
    min-width: 100px;
    width: 20%;
    max-width: 250px;
    padding: 0;
    float: left;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    height: 100%;
  }

  .two-column #sidebar li {
    display: block;
    text-align: left;
    border-bottom: 1px solid #000;
  }

  .two-column #content input[type="text"],
  .two-column #content textarea {
    width: 60%;
  }

  .two-column #content input[type="submit"] {
    float: left;
    margin: 10px 20px;
  }

  /* Updates CHILD INFORMATION STYLES*/

  .child-info, #child-view-lists {
    width: 79%;
  }

  .child-info {
    min-height: 200px;
    padding-bottom: 10px;
  }

  .child-info img {
    width: 200px;
    margin: 0 0;
  }

}

@media screen and (min-width: 775px) {

  /* Updates CHILDREN LIST STYLES */

  .children-list {
    width: 100%;
  }

  /* Updates THREE COLUMN STYLES
     Children List Page */

  .three-column #content {
    margin-left: 21%;
  }

  .three-column #sidebar, .three-column #details {
    display: block;
    min-width: 100px;
    width: 10%;
    max-width: 250px;
    padding: 0;
    float: left;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    min-height: 400px;
    height: 100%;
  }

  .three-column #sidebar li {
    display: block;
    text-align: left;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }

  .three-column #details li {
    display: block;
    text-align: left;
    padding: 10px ;
  }

  /* Update CHILD INFORMATION STYLES */

  .child-info img {
    width: 200px;
    float: right;
  }

  .exam-list {
    width: 150px;
    float: left;
  }

  .exam-list h3 {
    text-align: center;
  }

  .exam {
    padding-left: 155px;
  }

  .summary .recommendation {
    width: 80%;
  }

}

