{% extends 'two-column.html' %}

{% block sidebar %}
    <ul>
        <li><a href="{% url 'tracker:child' child_id %}">Info General</a></li>
        <li><a href="{% url 'tracker:dental_exams' child_id %}">Evaluacíon e Informe Odontológico</a></li>
        <li><a href="{% url 'tracker:medical_exam_part1s' child_id %}">Evaluacíon e Informe Médico / Parte 1</a></li>
        <li><a href="{% url 'tracker:medical_exam_part2s' child_id %}">Evaluacíon e Informe Médico / Parte 2</a></li>
        <li><a href="{% url 'tracker:psychological_exams' child_id %}">Evaluacíon e Informe Psicológico</a></li>
        <li><a href="{% url 'tracker:social_exams' child_id %}">Evaluacíon e Informe Social</a></li>
    </ul>
{% endblock %}
