{% extends 'two-column.html' %}

{% block sidebar %}
    <ul>
        <li><a href="{% url 'tracker:child' child_id %}">Info General</a></li>
        <li><a href="{% url 'tracker:new_social_exam' child_id %}">Evaluacíon e Informe Social</a></li>
        <li><a href="{% url 'tracker:child' child_id %}">Evaluacíon e Informe Psicológico</a></li>
        <li><a href="{% url 'tracker:child' child_id %}">Evaluacíon e Informe Odontológico</a></li>
        <li><a href="{% url 'tracker:child' child_id %}">Evaluacíon e Informe Médico/Salud</a></li>
    </ul>
{% endblock %}