<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Unión Bíblica Evaluación de Girasoles{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/tracker.css">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Health Bridges International Record Keeping">
        <meta charset="utf-8">
    </head>

    <body>

        <header id="header">
            <img src="/media/photos/health-bridges-international-logo.png" alt="Health Bridges International Logo" id="logo">
            <h1>Unión Bíblica Evaluación de Girasoles</h1>
        </header>
        <div id="border"></div>

        <div class="three-column">
            <div id="sidebar">
                {% block sidebar %}
                 <ul>
                    <li>Ohai! I'm a menu item.</li>
                </ul>
                {% endblock %}
            </div>
            <div id="details">
                {% block details %}
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>