<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Unión Bíblica Evaluación de Girasoles{% endblock %}</title>
        {% load staticfiles %}<link rel="stylesheet" href="{% static "tracker/tracker.css" %}">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Health Bridges International Record Keeping">
        <meta charset="utf-8">
    </head>

    <body>
        <header id="header">
            {% load staticfiles %}<img src="{% static "tracker/health-bridges-international-logo.png" %}" alt="Health Bridges International Logo" id="logo">
            <h1>Unión Bíblica Evaluación de Girasoles</h1>
            <h2>{% block h2 %}{% endblock %}</h2>
        </header>
        <div id="border"></div>

        <div class="three-column">
            <div id="sidebar">
                {% block sidebar %}
                 <ul>
                    <li>Ohai! I'm a menu item.</li>
                </ul>
                {% endblock %}
            </div>
            <div id="details">
                {% block details %}
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>