<!DOCTYPE html>
<html lang="es-PE">
    <head>
        <title>{% block title %}Unión Bíblica Evaluación de Girasoles{% endblock %}</title>
        {% load staticfiles %}<link rel="stylesheet" href="{% static "tracker/jquery-ui.min.css" %}">
        {% load staticfiles %}<link rel="stylesheet" href="{% static "tracker/css-reset.css" %}">
        {% load staticfiles %}<link rel="stylesheet" href="{% static "tracker/tracker.css" %}">
        {% load staticfiles %}<link rel="stylesheet" href="{% static "tracker/responsive.css" %}">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Health Bridges International Record Keeping">
        <meta charset="utf-8">
    </head>

    <body>

        <header id="header">
            {% load staticfiles %}<img src="{% static "tracker/health-bridges-international-logo.png" %}" alt="Health Bridges International Logo" id="logo">
            <h1>Unión Bíblica Evaluación de Girasoles</h1>
            <h2>{% block h2 %}{% endblock %}</h2>
        </header>
        <div id="border"></div>

        <div class="two-column">
            <nav id="sidebar">
                {% block sidebar %}
                 <ul>
                    <li>Ohai! I'm a menu item.</li>
                </ul>
                {% endblock %}
            </nav>
            <section id="content">
                {% block content %}{% endblock %}
            </section>
        </div>
        <div id="border"></div>
        {% include 'footer.html' %}

        {% load staticfiles %}<script type="text/javascript" src="{% static "tracker/jquery-1.11.3.min.js" %}"></script>
        {% load staticfiles %}<script type="text/javascript" src="{% static "tracker/jquery-ui.min.js" %}"></script>
        <script type="text/javascript">

            // sourced from livibetter on jsfiddle: 
            // https://jsfiddle.net/livibetter/HV9HM/
            function sticky_relocate() {
                var window_top = $(window).scrollTop();
                var div_top = $('#sticky-anchor').offset().top;
                if (window_top > div_top) {
                    $('#sticky').addClass('stick');
                    $('#sticky-anchor').height($('#sticky').outerHeight());
                } else {
                    $('#sticky').removeClass('stick');
                    $('#sticky-anchor').height(0);
                }
            }

            $(function() {
                if ($(document).width() > 800) {
                    $(window).scroll(sticky_relocate);
                    sticky_relocate();
                }
            });

            var changed=false;
            var keep_changed = true;
            $("form").on("input", function() {
                changed=true;
            });
            $("form :input").change(function() {
                changed=true;
            });

            $('.delete').click(function(event) {
                link = $(this).attr('href') ;

                if ($(this).hasClass('delete_exam')) {
                    changed=true;
                    console.log(changed);
                    console.log('delete has class')
                    keep_changed = false ;
                }

                if (changed==true) {
                    event.preventDefault();
                    $('#dialog form').removeClass('no-display');
                    $('#dialog').dialog({ autoOpen: false });
                    $('#dialog').dialog("open");
                    $('#no').click(function(e) {
                        e.preventDefault();
                        $('#dialog').dialog("close");
                        
                        if (keep_changed==false) {
                            changed = false;
                        }
                    });
                }
                $('#discard').click(function(e) {
                    e.preventDefault();
                    window.location = link;
                });

                
            });


            $('.change').click(function(event) {
                event.preventDefault();
                if ($(this).hasClass('name')) {
                    $('#dialog .name').removeClass('no-display');
                }
                else if ($(this).hasClass('email')) {
                    $('#dialog .email').removeClass('no-display');
                }
                else if ($(this).hasClass('password')) {
                    $('#dialog .password').removeClass('no-display');
                }
                else if ($(this).hasClass('add_users')) {
                    $('#dialog .add_users').removeClass('no-display');
                }
                else if ($(this).hasClass('delete_info')) {
                    $('#dialog .delete_info').removeClass('no-display');
                }
                else if ($(this).hasClass('add_edit_forms')) {
                    $('#dialog .add_edit_forms').removeClass('no-display');
                }
                else if ($(this).hasClass('restrict_to_home')) {
                    $('#dialog .restrict_to_home').removeClass('no-display');
                }
                else if ($(this).hasClass('is_staff')) {
                    $('#dialog .is_staff').removeClass('no-display');
                }
                else if ($(this).hasClass('is_active')) {
                    $('#dialog .is_active').removeClass('no-display');
                }
                $('#dialog').dialog({ autoOpen: false });
                $('#dialog').dialog("open");
                $('div').on('dialogclose', function(event) {
                    console.log('hello');
                    $('#dialog form').each(function(event) {
                        if (!$(this).hasClass('no-display')) {
                            $(this).addClass('no-display');                        
                        }
                    });
                    
                });
            });

            $('.documents').click(function(event) {
                event.preventDefault();
                if ($(this).hasClass('government')) {
                    if ($('.government-list').hasClass('no-display')) {
                        $('.government-list').removeClass('no-display');
                    } 
                    else {
                        $('.government-list').addClass('no-display');
                    }
                }
                else if ($(this).hasClass('health')) {
                    if ($('.health-list').hasClass('no-display')) {
                        $('.health-list').removeClass('no-display');
                    } 
                    else {
                        $('.health-list').addClass('no-display');
                    }
                }
                else if ($(this).hasClass('others')) {
                    if ($('.others-list').hasClass('no-display')) {
                        $('.others-list').removeClass('no-display');
                    } 
                    else {
                        $('.others-list').addClass('no-display');
                    }
                }
            });

        </script>
    </body>
</html>